@use "/src/variables.scss" as vars;

.grid {
  display: grid;
  width: 70vh;
  height: 70vh;
}

.square {
  width: 90%;
  height: 90%;
  background-color: vars.$custom-gray;
  border-radius: 10px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: white;

  transition: background-color 350ms ease-in-out, transform 150ms ease-in-out,
    border 150ms ease-in-out;

  &:hover {
    background-color: vars.$custom-green;
  }
}

.pointA {
  cursor: grab;
  background-color: vars.$custom-blue;
  transform: translate(-8px, -8px);
  box-shadow: 4px 4px 4px 0 rgba(37, 37, 37, 0.4);
}

.pointB {
  background-color: vars.$custom-green;
}

.obstacle {
  transform: translate(-4px, -4px);
  background-color: gray;
  border-color: rgb(95, 95, 95);
  box-shadow: 4px 4px 4px 0 rgba(37, 37, 37, 0.4);
}

.small-text {
  font-size: 11px;
}

.button {
  margin-top: 12px;
  background-color: vars.$custom-blue;
}
