@import "/src/variables.scss";

.row {
  //   display: block;
  display: flex;
  flex-direction: row;
}

.square {
  width: 60px;
  height: 60px;
  background-color: $custom-gray;
  border-radius: 10px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: white;

  transition: background-color 350ms ease-out;

  &:hover {
    background-color: $custom-green;
  }
}

.pointA {
  background-color: $custom-blue;
}

.pointB {
  background-color: $custom-green;
}

.obstacle {
  background-color: gray;
  //   border: 2px black solid;
  border-width: 0 4px 4px 0;
  border-style: none solid solid none;
  border-color: rgb(95, 95, 95);
}
