@import "./variables.scss";

.side-nav {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  transition: width 300ms ease-in-out;

  &:hover {
    width: 250px;
  }
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $custom-gray;
}

.logo {
  margin-top: 10px;
  background-color: $custom-green;
  font-weight: bolder;
  width: 40px;
  height: 40px;
  border-radius: 0 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container {
  margin-top: 80px;
  height: 80%;
  //   width: 100%;
  display: flex;
  flex-direction: column;
  //   justify-content: space-around;
}

.root-content-container {
  position: fixed;
  top: 0px;
  left: 80px;
  width: calc(100% - 80px);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  height: 20%;
  width: 100%;
  color: $custom-blue;
  //   color: white;
  //   font-weight: bolder;
  text-align: center;
  //   border-bottom: 2px black solid;
}

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: none;
  //   background-color: red;
}
