$custom-blue: #00585f;
$custom-green: #00d87e;
$custom-gray: #d1d1d1;
$custom-white: #ffffff;

.c-custom-blue {
  color: $custom-blue;
}
.c-custom-green {
  color: $custom-green;
}
.c-custom-gray {
  color: $custom-gray;
}
